---
- name: Upgrade all packages
  become: true
  block:
    - name: Update cache
      ansible.builtin.package:
        update_cache: yes
      changed_when: false
    - name: Update all packages
      ansible.builtin.package:
        upgrade: dist
